/home/es21btech11028/IR2Vec/tryouts/Data_things/instruction_embeddings
/home/es21btech11028/IR2Vec/tryouts/Data_things/data
/home/es21btech11028/IR2Vec/tryouts/Data_things/processed_data
/home/es21btech11028/IR2Vec/tryouts/Data_things/processed_instruction_embeddings
/home/es21btech11028/IR2Vec/tryouts/Data_things/program_embeddings